# Virtual environment
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Flask specific
instance/
.webassets-cache

# Pytest
.coverage
.tox/
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# dependencies
/node_modules
